body{
    margin:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 48vh;
    height:48vh;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    border: 1px solid black;
}

.gridElement {
    max-width: inherit;
    max-height: inherit;
}
