body{
    margin:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 48vh;
    height:48vh;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.gridElement {
    width: 2,9vh;
    height:2,9vh;
    border: 1px solid black;
}

.gridElement:hover {
    background-color: blue;
}
